# Validation Report

donor_fname→full_name
donor_lname→full_name
donor_email→email
gift_total→total_gifts
contact_id→id
contact_fname→full_name
contact_lname→full_name
contact_email→email
mobile_number→phone_number
created_date→last_message_date

### Warnings
